In [1]:
import basedosdados as bd
import pandas as pd

query = "SELECT * FROM `datario.adm_central_atendimento_1746.chamado`" \
        "WHERE DATE(data_inicio) = '2023-04-01'"
df_chamado = bd.read_sql(query, billing_project_id="prefeitura-rio-455211")
df_chamado.head()

Downloading: 100%|██████████|

,id_chamado,id_origem_ocorrencia,data_inicio,data_fim,id_bairro,id_territorialidade,id_logradouro,numero_logradouro,id_unidade_organizacional,nome_unidade_organizacional,...,data_real_diagnostico,tempo_prazo,prazo_unidade,prazo_tipo,dentro_prazo,situacao,tipo_situacao,justificativa_status,reclamacoes,data_particao
0,18517973,13,2023-04-01 18:03:14,2023-05-02 15:22:24,81,3,25544,974,247,Ouvidoria COMLURB,...,NaT,<NA>,D,F,Fora do prazo,Encerrado,Atendido,None,0,2023-04-01
1,18518136,13,2023-04-01 19:15:24,2023-04-03 16:31:06,None,None,None,<NA>,121,Ouvidoria GM-RIO,...,NaT,<NA>,D,F,No prazo,Encerrado,Atendido parcialmente,None,0,2023-04-01
2,18516836,1,2023-04-01 10:34:10,2023-04-03 14:07:40,None,None,None,<NA>,835,Ouvidoria SMS/CAP3.1,...,NaT,<NA>,D,F,No prazo,Encerrado,Atendido parcialmente,None,0,2023-04-01
3,18516688,1,2023-04-01 09:53:57,2023-04-27 16:31:54,None,None,None,<NA>,43,Ouvidoria SMTR,...,NaT,<NA>,D,F,No prazo,Encerrado,Atendido,None,0,2023-04-01
4,18517231,13,2023-04-01 12:45:19,2023-05-02 09:21:23,None,None,None,<NA>,846,OUV.SMS/HMSA,...,NaT,<NA>,D,F,Fora do prazo,Encerrado,Atendido parcialmente,None,0,2023-04-01

In [10]:
query_bairro = "SELECT * FROM `datario.dados_mestres.bairro`"
df_bairro = bd.read_sql(query_bairro, billing_project_id="prefeitura-rio-455211")
df_bairro.head()

Downloading: 100%|██████████|

,id_bairro,nome,id_area_planejamento,id_regiao_planejamento,nome_regiao_planejamento,id_regiao_administrativa,nome_regiao_administrativa,subprefeitura,area,perimetro,geometry_wkt,geometry
0,2,Gamboa,1,1.1,Centro,1,Portuaria,Centro,1.112903e+06,4612.833630,POLYGON ((-43.18791509600138 -22.8931217212322...,"POLYGON((-43.1879150960014 -22.8931217212322, ..."
1,1,Saúde,1,1.1,Centro,1,Portuaria,Centro,3.638176e+05,2646.220568,POLYGON ((-43.181151633502964 -22.895430284304...,"POLYGON((-43.181151633503 -22.8954302843042, -..."
2,4,Caju,1,1.1,Centro,1,Portuaria,Centro,5.347481e+06,19800.522524,MULTIPOLYGON (((-43.22522241788469 -22.8746498...,MULTIPOLYGON(((-43.196711909178 -22.8872495021...
3,3,Santo Cristo,1,1.1,Centro,1,Portuaria,Centro,1.684721e+06,6743.227885,POLYGON ((-43.194498082949806 -22.903378003392...,"POLYGON((-43.1944980829498 -22.9033780033923, ..."
4,161,Lapa,1,1.1,Centro,2,Centro,Centro,2.983258e+05,3849.181818,POLYGON ((-43.18166120770202 -22.9120798224676...,"POLYGON((-43.181661207702 -22.9120798224677, -..."

In [3]:
df_chamado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1903 entries, 0 to 1902
Data columns (total 32 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id_chamado                        1903 non-null   object
 1   id_origem_ocorrencia              1903 non-null   object
 2   data_inicio                       1903 non-null   datetime64[us]
 3   data_fim                          1886 non-null   datetime64[us]
 4   id_bairro                         1772 non-null   object
 5   id_territorialidade               1772 non-null   object
 6   id_logradouro                     1772 non-null   object
 7   numero_logradouro                 1649 non-null   Int64
 8   id_unidade_organizacional         1903 non-null   object
 9   nome_unidade_organizacional       1903 non-null   object
 10  id_unidade_organizacional_mae     1903 non-null   object
 11  unidade_organizacional_ouvidoria  1903 non-null   object
 12  categoria                         1903 non-null   object
 13  id_tipo                           1903 non-null   object
 14  tipo                              1903 non-null   object
 15  id_subtipo                        1903 non-null   object
 16  subtipo                           1903 non-null   object
 17  status                            1903 non-null   object
 18  longitude                         1293 non-null   float64
 19  latitude                          1293 non-null   float64
 20  data_alvo_finalizacao             1876 non-null   datetime64[us]
 21  data_alvo_diagnostico             87 non-null     datetime64[us]
 22  data_real_diagnostico             87 non-null     datetime64[us]
 23  tempo_prazo                       0 non-null      Int64
 24  prazo_unidade                     1900 non-null   object
 25  prazo_tipo                        1900 non-null   object
 26  dentro_prazo                      1903 non-null   object
 27  situacao                          1903 non-null   object
 28  tipo_situacao                     1903 non-null   object
 29  justificativa_status              0 non-null      object
 30  reclamacoes                       1903 non-null   Int64
 31  data_particao                     1903 non-null   dbdate
dtypes: Int64(3), datetime64[us](5), dbdate(1), float64(2), object(21)
memory usage: 481.5+ KB

In [11]:
df_bairro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164 entries, 0 to 163
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id_bairro                   164 non-null    object
 1   nome                        164 non-null    object
 2   id_area_planejamento        164 non-null    object
 3   id_regiao_planejamento      164 non-null    object
 4   nome_regiao_planejamento    164 non-null    object
 5   id_regiao_administrativa    164 non-null    object
 6   nome_regiao_administrativa  164 non-null    object
 7   subprefeitura               164 non-null    object
 8   area                        164 non-null    float64
 9   perimetro                   164 non-null    float64
 10  geometry_wkt                164 non-null    object
 11  geometry                    164 non-null    object
dtypes: float64(2), object(10)
memory usage: 15.5+ KB

### Q1) Quantos chamados foram abertos no dia 01/04/2023?

In [ ]:
print("Total de chamados em 01/04/2023:", len(df_chamado))

Total de chamados em 01/04/2023: 1903

### Q2) Qual o tipo de chamado que teve mais teve chamados abertos no dia 01/04/2023?

In [9]:
tipo_mais_comum = df_chamado['tipo'].value_counts().idxmax()
contagem_tipo_comum = len(df_chamado[df_chamado['tipo'] == tipo_mais_comum])

print(f"Tipo com mais chamados: {tipo_mais_comum} - {contagem_tipo_comum} chamados")

Tipo com mais chamados: Estacionamento irregular - 373 chamados

### Q3) Quais os nomes dos 3 bairros que mais tiveram chamados abertos nesse dia?

In [15]:
df_chamados_bairro = df_chamado.merge(df_bairro, on='id_bairro', how='left')

bairros_top3 = df_chamados_bairro['nome'].value_counts().head(3)
print("Top 3 bairros com mais chamados:")
print(bairros_top3)

Top 3 bairros com mais chamados:
nome
Campo Grande       124
Tijuca              96
Barra da Tijuca     60
Name: count, dtype: int64

### Q4) Qual o nome da subprefeitura com mais chamados abertos nesse dia?

In [18]:
subprefeitura_top1 = df_chamados_bairro['subprefeitura'].value_counts().head(1)
print("Subprefeitura com mais chamados:")
print(subprefeitura_top1)

Subprefeitura com mais chamados:
subprefeitura
Zona Norte    534
Name: count, dtype: int64

### Q5) Existe algum chamado aberto nesse dia que não foi associado a um bairro ou subprefeitura na tabela de bairros? Se sim, por que isso acontece?

In [24]:
# Caso o id_bairro (identificador) não seja preenchido na ocorrência do chamado, não é possível identificar o bairro ou subprefeitura associado.

sem_bairro_ou_sub = df_chamado[df_chamado["id_bairro"].isnull()]

print("Chamados em 01/04/2023 sem bairro ou subprefeitura:", len(sem_bairro_ou_sub))

Chamados em 01/04/2023 sem bairro ou subprefeitura: 131